<h2>Create User</h2>

<div class="card mt-5">
    <div class="card-header bg-primary text-white">
      Create User
    </div>
    <div class="card-body">
      <form class="form-createUser" #f="ngForm" (ngSubmit)="createUser()">
        <input type="text" class="form-control" placeholder="username"
          [(ngModel)]="userModel.username" required="" autocomplete="off">
          <input type="password" class="form-control" placeholder="password"
          [(ngModel)]="userModel.password" required="" autocomplete="off">
        <br />
        <button class="btn btn-primary" type="submit">Create</button>
      </form>
    </div>
  </div>

<hr />
<div class="btn-group" role="group">
  <button type="button" class="btn btn-primary" [routerLink]="['/admin']">Close</button>
</div>