<h1>Welcome {{ user.username }}!</h1>
<!--
<div class="d-flex flex-wrap">
    <div class="card border-primary" style="width: 18rem;">
        <div class="card-header text-white bg-primary">
            Test
        </div>
        <div class="card-body">
            <p class="card-text">text</p>
        </div>
    </div>
    <div class="card border-primary" style="width: 18rem;">
        <div class="card-header text-white bg-primary">
            Test
        </div>
        <div class="card-body">
            <p class="card-text">text</p>
        </div>
    </div>
    <div class="card border-primary" style="width: 18rem;">
        <div class="card-header text-white bg-primary">
            Test
        </div>
        <div class="card-body">
            <p class="card-text">text</p>
        </div>
    </div>
    <div class="card border-primary" style="width: 18rem;">
        <div class="card-header text-white bg-primary">
            Test
        </div>
        <div class="card-body">
            <p class="card-text">text</p>
        </div>
    </div>
</div>
-->