<h1>Netcode Apps</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th width="30%">Name</th>
      <th width="70%">Identifier</th>
      <th widht="30px">&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let a of apps">
      <td>{{a.name}}</td>
      <td>{{a.identifier}}</td>
      <td><button type="button" class="btn btn-danger" (click)="delete(a)">Delete</button></td>
    </tr>
    <tr>
      <td>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="app name" [(ngModel)]="newApp" />
          <div class="input-group-append">
            <button type="button" class="btn btn-primary" (click)="addApp()">Add</button>
          </div>
        </div>
      </td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
  </tbody>
</table>