.form-control {
    height: auto;
    padding: 10px;
}

.form-changePW {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    margin-left: 0;
}

#oldPW {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

#newPW {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}