<hr />
<h2>Download Video</h2>

<input class="form-control" type="text" placeholder="video URL" [(ngModel)]="model.url" />
<table class="format-selection">
    <tr>
        <td *ngFor="let e of formats">
            <b>{{e.category}}</b>
            <ul class="list-inline">
                <li class="list-inline-item" *ngFor="let f of e.formats">
                    <input type="checkbox" [(ngModel)]="model.formats[f.id]" /> {{f.name}}</li>
            </ul>
        </td>
    </tr>
</table>
<button class="btn btn-success" (click)="onAdd()">Download</button>
<hr />

<div *ngFor="let job of jobs" class="infocard">
    <!-- PENDING CARD -->
    <div class="card" [ngClass]="'border-'+getClassForStatus(job.status)">
        <div class="card-header text-white" [ngClass]="'bg-'+getClassForStatus(job.status)">Job #{{job.id}}:
            {{job.status}}</div>
        <div class="card-body" [ngClass]="'text-'+getClassForStatus(job.status)">
            <p class="card-text">{{job.url}}</p>

            <div class="progress">
                    <div *ngIf="job.status=='PENDING'"
                    class="progress-bar progress-bar-striped progress-bar-animated bg-secondary" style="width: 100%"></div>
                    <div *ngIf="job.status=='DONE'"
                    class="progress-bar bg-success" style="width: 100%"></div>
                    <div *ngIf="job.status=='FAILED'"
                    class="progress-bar bg-danger" style="width: 100%"></div>
                    <div *ngIf="job.status=='DOWNLOADING'||job.status=='CONVERTING'"
                    class="progress-bar progress-bar-striped progress-bar-animated bg-primary" style="width: 100%"></div>
                    
            </div>
        </div>
    </div>
</div>