<hr />
<h2>Download Video</h2>

<input class="form-control" type="text" placeholder="video URL" [(ngModel)]="model.url" />
<table class="format-selection">
    <tr>
        <td *ngFor="let e of formats">
            <b>{{e.category}}</b>
            <ul class="list-inline">
                <li class="list-inline-item" *ngFor="let f of e.formats">
                    <input type="checkbox" [(ngModel)]="model.formats[f.id]" />{{f.name}}</li>
            </ul>
        </td>
    </tr>
</table>
<button class="btn btn-success" (click)="onAdd()">Download</button>
<hr />

<div *ngFor="let job of jobs" class="infocard">
    <!-- PENDING CARD -->
    <div class="card" [ngClass]="'border-'+getClassForStatus(job.status)">
        <div class="card-header text-white" [ngClass]="'bg-'+getClassForStatus(job.status)">
            <a [routerLink]="['/ytdl/job', job.id]" class='text-white'>Job #{{job.id}}: {{job.status.toLowerCase()}}</a> <span
            *ngIf="job.name != null">({{job.name}})</span></div>
        <div class="card-body" [ngClass]="'text-'+getClassForStatus(job.status)">
            <p class="card-text">{{job.url}} ({{job.formatList}})</p>
            <div class="progress">
                <div class="progress-bar" [ngClass]="getProgressBarClass(job)" [ngStyle]="getProgressBarStyle(job)">
                </div>
            </div>

        </div>
    </div>
</div>