<hr />
<div class="card" [ngClass]="'border-'+getClassForStatus(job.status)">
  <div class="card-header text-white" [ngClass]="'bg-'+getClassForStatus(job.status)">
    <h2>Job #{{job.id}}: {{job.status.toLowerCase()}}</h2>
  </div>
  <div class="card-body card-text">
    
    <h3>URL</h3>
    <ul>
      <li><a [attr.href]="job.url" target="_blank">{{job.url}}<span
        *ngIf="job.name != null"> ({{job.name}})</span></a></li>
    </ul>
    <span *ngIf="job.files.length != 0">
      <h3>Files</h3>
      <ul>
        <li *ngFor="let file of job.files">
            <span class="badge badge-secondary">{{file.format.name}}</span>&nbsp;
            <a [attr.href]="'/api/ytdl/download/'+file.uuid" target="_blank">
              {{file.name}} ({{prettyFileSize(file.size)}})</a>
          </li>
      </ul>
    </span>
    <span *ngIf="job.status == 'CONVERTING'">
      <h3>Progress</h3>
      <ul>
        <li>converting into format {{job.files.length + 1}} / {{job.formats.length}}</li>
      </ul>
    </span>

    <div class="progress">
      <div class="progress-bar" [ngClass]="getProgressBarClass(job)" [ngStyle]="getProgressBarStyle(job)">
      </div>
    </div>

  </div>
</div>
<hr />
<button class="btn btn-primary" [routerLink]="['/ytdl/list']">&lt; Back to List</button>