<h2>User Configuration: {{user.username}}</h2>

<div class="card mt-5">
  <div class="card-header bg-primary text-white">
    Change Password
  </div>
  <div class="card-body">
    <form class="form-changePW" #f="ngForm" (ngSubmit)="changePassword()">
      <input type="password" class="form-control" placeholder="new password" autocomplete="off" name="newpassword"
        [(ngModel)]="pwmodel.newpassword" required="">
      <br />
      <button class="btn btn-primary" type="submit">Save</button>
    </form>
  </div>
</div>

<div class="card mt-5">
  <div class="card-header bg-danger text-white">
    Delete User
  </div>
  <div class="card-body">
    <button class="btn btn-danger" (click)="deleteUser()">Delete</button>
  </div>
</div>

<hr />
<div class="btn-group" role="group">
  <button type="button" class="btn btn-primary" [routerLink]="['/admin']">Close</button>
</div>